<nav class="navbar navbar-expand-lg py-3 py-lg-7 border-bottom border-3">
  <div class="container justify-content-start">
    <h1>
      <a class="navbar-brand d-flex align-items-center me-7 me-lg-11" href="../pages/index.html">
        <img src="../assets/images/logo.png" alt="Logo" class="d-inline-block me-lg-5">
        <span class="text-primary me-1 d-none d-lg-inline-block">7TAO</span>
        <span class="text-dark d-none d-lg-inline-block">活動訂票網</span>
      </a>
    </h1>
    <form class="d-flex me-7 input-search" role="search">
      <input class="form-control px-3 px-lg-7 py-2 py-lg-3" type="search" placeholder="探索活動" aria-label="探索活動">
      <button class="btn btn-dark px-3 px-lg-5" type="button"><i class="icofont-search-1 text-secondary"></i></button>
    </form>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#hiddenOnMobile" aria-controls="hiddenOnMobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="hiddenOnMobile">
      <ul class="navbar-nav ms-lg-auto mb-0 pt-7 pb-3 px-lg-0 px-3 px-lg-0">
        <li class="nav-item mb-5 mb-lg-0 me-lg-2">
          <a class="nav-link py-0 py-lg-2" href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0 py-lg-2" href="../pages/login.html"><i class="icofont-ui-user me-1"></i>LOGIN</a>
        </li>
      </ul> 
    </div>
  </div>
</nav>