<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO - 活動訂票網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <section class="mt-5 mt-lg-8">
        <div class="d-flex px-3 px-lg-8 py-5 py-lg-7 justify-content-between align-items-center border border-3 flex-nowrap mb-7 mb-lg-8">
          <h2 class="fs-5 fs-lg-1 lh-sm">EVENT</h2>
          <p class="noto-tc-serif fs-9 fs-lg-4 fw-bold">所有活動</p>
        </div> 
        <ul class="list-unstyled d-flex flex-wrap">
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">演出</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">音樂</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">舞蹈</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">戲劇</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">音樂會</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">課程講座</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">社群活動</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">展覽</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">研討會</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">電影</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">電音派對</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">遊戲競賽</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">親子</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">藝文活動</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">運動</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">交通旅遊</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">美食</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">資訊科技</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">聯誼</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">戶外</a></li>
          <li class="me-2 mb-2"><a href="javascript:;" class="tag">線上活動</a></li>
        </ul>
      </section>
      <div class="pt-5 recent-event">
        <ul class="list-unstyled mb-0 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-7">

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">19 MAY 2023</time>
            <img src="../assets/images/event-1.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">邪典電影派對——房間</h3>
              <p class="mb-5">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">社群活動</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">23 MAY 2023</time>
            <img src="../assets/images/event-2.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">怪舞俱樂部</h3>
              <p class="mb-5">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一... </p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">演出</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">30 MAY 2023</time>
            <img src="../assets/images/event-3.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">哈利波特馬拉松</h3>
              <p class="mb-5">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">社群活動</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">12 June 2023</time>
            <img src="../assets/images/event-4.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">皮卡丘排球大賽</h3>
              <p class="mb-5">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方......</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">遊戲競賽</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">25 June 2023</time>
            <img src="../assets/images/event-5.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">酒精路跑</h3>
              <p class="mb-5">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
              </p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">社群活動</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">9 July 2023</time>
            <img src="../assets/images/event-6.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">展覽——我的房間</h3>
              <p class="mb-5">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">展覽</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">19 MAY 2023</time>
            <img src="../assets/images/event-7.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">野營音樂祭</h3>
              <p class="mb-5">喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">演出</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">19 MAY 2023</time>
            <img src="../assets/images/event-8.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">疊疊樂大賽</h3>
              <p class="mb-5">來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">遊戲競賽</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">18 MAY 2023</time>
            <img src="../assets/images/event-9.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">返老還童-制服聯誼</h3>
              <p class="mb-5">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">聯誼</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">19 MAY 2023</time>
            <img src="../assets/images/event-10.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">野外求生17天</h3>
              <p class="mb-5">野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">戶外</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">19 MAY 2023</time>
            <img src="../assets/images/event-11.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">耳熟能詳音樂祭</h3>
              <p class="mb-5">對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">演出</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>

          <li class="col card border-0">
            <time class="fs-4 fs-xl-3 pb-1 pb-lg-2 mb-5 mb-lg-3 lh-sm border-bottom-3">19 MAY 2023</time>
            <img src="../assets/images/event-12.jpg" class="card-img-top object-fit-cover mb-3" alt="">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="noto-tc-serif fs-8 fs-lg-5 fw-bold mb-2 mb-lg-3 lh-lg">野營發呆大賽</h3>
              <p class="mb-5">你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
              <div class="border-top-2 border-bottom-2 py-3 d-flex justify-content-between align-items-center mt-auto">
                <a class="noto-tc-serif fw-bold lh-lg position-relative typeLabel" href="javascript:;">遊戲競賽</a>
                <a href="javascript:;" class="btn-sell position-relative d-flex align-items-center z-2"><span class="me-1 fw-bold">開賣中</span><i class="ps-1 icofont-rounded-double-right"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <nav class="pt-8 pb-11 py-lg-12 d-flex justify-content-center">
        <ul class="pagination mb-0 d-flex">
          <li class="page-item me-2"><a class="page-link h-4 w-4 d-flex justify-content-center align-items-center" href="#"><i class="icofont-arrow-left"></i></a></li>
          <li class="page-item me-2"><a class="page-link h-4 w-4 d-flex justify-content-center align-items-center noto-tc-serif fw-bold" href="#">1</a></li>
          <li class="page-item me-2"><a class="page-link h-4 w-4 d-flex justify-content-center align-items-center noto-tc-serif fw-bold" href="#">2</a></li>
          <li class="page-item me-2"><a class="page-link h-4 w-4 d-flex justify-content-center align-items-center noto-tc-serif fw-bold" href="#">3</a></li>
          <li class="page-item me-2"><a class="page-link h-4 w-4 d-flex justify-content-center align-items-center noto-tc-serif fw-bold" href="#">4</a></li>
          <li class="page-item me-2"><a class="page-link h-4 w-4 d-flex justify-content-center align-items-center noto-tc-serif fw-bold" href="#">5</a></li>
          <li class="page-item"><a class="page-link h-4 w-4 d-flex justify-content-center align-items-center" href="#"><i class="icofont-arrow-right"></i></a></li>
        </ul>
      </nav>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
